.cart-area {
  display: flex;
  width: 100%;
  height: 87%;
  justify-content: center;
}

.cart-wrapper {
  align-self: center;
  width: 40%;
  height: 86%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.cart-headline-wrapper {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  border-bottom: 3px solid black;
}

.cart-headline {
  width: 90%;
  height: max-content;
  text-align: center;
}

.cart-articles-wrapper {
  width: 100%;
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.cart-articles{
  width: 80%;
}

.cart-order-informations {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  flex-grow: 1.5;
}

.cart-settings {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}