.filter-bar-parent-container{
  min-width: 12%;
  min-height:10%;
  overflow: hidden;
}

.filter-bar-headline{
  width:100%;
  font-family: "Mulish", sans-serif;
  height:20%;
  display: flex;
  justify-content:left;
  padding:3px;
  border-bottom: 2px solid grey;
  font-size: 35px;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-style: normal;

}

.filter-items-flex-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height:80%;
  width: 100%;
  align-items: center;
}