.filter-item-styles {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  transition: color 0.3s ease;
  border-bottom: 2px solid grey;
  padding:5px;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;

  &:hover {
    color: pink;
    cursor: pointer;
  }

}

