.article-container {
  width: 250px;
  height: 320px;
  overflow: hidden;
  background-color: #f6f5f3;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left: 20px;
  margin-top: 50px;


  &::-webkit-scrollbar-thumb {
    display: none;
  }

}

.article-image-container {
  height: 50%;
  width: 100%;
}

.article-image {
  width: 100%;
  height: 100%;
}


.article-information {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin:5px;

  &::-webkit-scrollbar {
    display: none;
  }
}


.article-price {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

.article-price-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bolder;
  font-size: 15px;
  border: 2px solid pink;
  background: none;
  margin-right: 15px;

  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

}

.article-property {
  padding-left: 5px;
}


.article-description{
  font-size: 12px;
}