.navigation-item-container{
  border:none;
  width:100px;
  height:40px;
  display:flex;
  justify-content: center;
}

.navigation-item{
  text-decoration: none;
  font-size: 24px;
  align-self: center;
}