.main-shop-area{
  display: flex;
  width:100%;
}

.filter-bar{
  width:10%;
  margin-top:70px;
  margin-left: 30px;
}

.article-placeholder{
  display: flex;
  flex-wrap: wrap;
}

.shop-flex-container{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left:50px;
  width:90%;
}

.shop-headline {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
}