.long-text-cutter-styles {
  font-size: 12px;
  color: blue;
  align-self: end;
  margin-left: 10px;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }

}

.description-direction {
  display: flex;
  flex-wrap: wrap;
}