.cart-article-container {
  width: 97%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding: 2px;
}


.cart-article-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.cart-article-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  padding: 3px;
}